* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  font-family: "微软雅黑";
}
a {
  text-decoration: none;
}
header {
  padding: 22px 0;
  height: 44px;
}
header .logo {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
header .logo h1 {
  float: left;
  width: 110px;
  height: 44px;
  vertical-align: middle;
}
header .logo h1 img {
  width: 110px;
  height: 44px;
}
header .logo .prompt {
  text-align: center;
  width: 880px;
  margin: 0 auto;
  color: #6C6C6C;
  line-height: 16px;
  padding: 6px 10px;
  overflow: hidden;
  border: 1px solid #ffb4a8;
  background: #fef2f2;
}
header .logo > a {
  float: right;
  line-height: 44px;
  color: #666;
}
header .logo > a:hover {
  color: #f40;
}
.content {
  background: url(../img/20.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 600px;
}
.content .login {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}
.content .login .login-wrap {
  position: absolute;
  top: 120px;
  right: 60px;
  width: 350px;
}
.content .login .login-wrap .login-box {
  width: 300px;
  padding: 25px 25px 23px;
  color: #6c6c6c;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  margin: 0 auto;
}
.content .login .login-wrap .login-box .login-title {
  height: 18px;
  line-height: 18px;
  font-size: 16px;
  color: #3c3c3c;
  margin-top: 9px;
  padding-bottom: 8px;
  font-weight: 700;
}
.content .login .login-wrap .login-box form div {
  margin-top: 20px;
  position: relative;
}
.content .login .login-wrap .login-box form div label {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #ddd;
  position: absolute;
  left: 1px;
  top: 1px;
}
.content .login .login-wrap .login-box form div input {
  width: 240px;
  font-size: 14px;
  height: 18px;
  padding: 11px 8px 11px 50px;
  border: 1px solid #ddd;
}
.content .login .login-wrap .login-box form div button {
  width: 300px;
  height: 42px;
  line-height: 42px;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: #f40;
  border-radius: 3px;
  cursor: pointer;
}
.content .login .login-wrap .login-box form .other-login {
  margin-top: 0;
}
.content .login .login-wrap .login-box form .other-login a {
  display: inline-block;
  color: #6c6c6c;
}
.content .login .login-wrap .login-box form .other-login a img {
  height: 60px;
  width: 60px;
}
.content .login .login-wrap .login-box form .other-login a span {
  position: relative;
  left: -20px;
  top: -29px;
}
.content .login .login-wrap .login-box form .login-links {
  text-align: right;
  margin-top: 0;
}
.content .login .login-wrap .login-box form .login-links a {
  margin-right: 10px;
  color: #6c6c6c;
}
footer {
  position: relative;
  margin: 60px auto 0;
  padding: 7px 0 9px;
  border-top: 1px solid #ddd;
  width: 1200px;
}
footer p {
  padding-bottom: 8px;
  overflow: hidden;
}
footer p a {
  margin: 0 4px;
  color: #6c6c6c;
}
footer p a:hover {
  color: #f40;
}
footer p b {
  font-weight: 400;
  color: #ddd;
}
footer p em {
  margin-left: 30px;
  color: #9c9c9c;
  font-style: normal;
}
footer .footer-hd {
  margin-bottom: 8px;
  line-height: 27px;
  border-bottom: 1px solid #ddd;
}
footer .footer-bd span {
  margin: 0 4px;
  color: #9c9c9c;
}
